.footer{
    background-color: rgb(29, 29, 29);
    margin-top: 30px;
    padding: 15px 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer p, .footer h3{
    color: rgb(231, 231, 231);
}
.facebook, .instagram{
    color: rgb(231, 231, 231);
}
@media only screen and (max-width:1200px){
    .container{
        width: 100%;
    }
}