.search-container{
    width: 1200px;
    margin: 0 auto;
}
.search-grid{
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 20% auto;
}
.filter-header{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1200px) {
    .search-container{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .search-grid{
        grid-template-columns: 100%;
    }
}
